body {
	margin: auto;
	width: 1920px;
	background: white;
	min-width: 400px;
}

main {
	margin: 10px;
}

header {
	height: 698px;
    background-image: url(../images/bkhead.png);
    background-size: cover;
}

.menubk {
	height: 88px;
	background-image: url(../images/bkmenu.png);
    background-size: cover;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.menu {
	margin: auto;
	width: 1120px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.menu a {
    text-decoration: none;
}

.menu1 {
	margin-left: 51px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-around;
}

.menu1 a {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 13px;
	padding-bottom: 9px;
}

.menu1 a:hover {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 13px;
	padding-bottom: 6px;
    border-bottom: 3px solid black; /* Параметры границы */
	border-color: rgb(54, 174, 234);
}

.menu1 p {
	text-transform: uppercase;
	font-size: 12px;
	font-family: OpenSans;
	font-weight: bold;
	color: rgb(157, 174, 182);
}

.hbutton {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-around;
}

.hbutton a {
	margin-left: 263px;
	padding-left:43px;
	padding-right:43px;
	padding-top:16px;
	padding-bottom:16px;
	border-radius: 3px;
    border: 3px solid black; /* Параметры границы */
	border-color: rgb(54, 174, 234);
	text-transform: uppercase;
	font-size: 12px;
	font-family: Raleway;
	font-weight: bold;
	color: rgb(54, 174, 234);
}

.hbutton a:hover {
	margin-left: 263px;
	padding-left:43px;
	padding-right:43px;
	padding-top:16px;
	padding-bottom:16px;
	border-radius: 3px;
    border: 3px solid black; /* Параметры границы */
	border-color: rgb(54, 174, 234);
    background: rgb(54, 174, 234);
	text-transform: uppercase;
	font-size: 12px;
	font-family: Raleway;
	font-weight: bold;
	color: white;
}

.logo {
	font-family: Bringin;
	font-size: 29px;
	color: rgb(54, 174, 234);
}

.letter {
    color: rgb(149, 165, 173);
}

.topcenter {
	margin:auto;
	margin-top: 130px;
	width:1129px;
	height:318px;
    border: 3px solid black; /* Параметры границы */
	border-color: white;	
}

.hmess {
	text-transform: uppercase;
	font-size: 48px;
	font-family: CoreSans;
	letter-spacing: 10px;
	font-weight: bold;
	color: white;
	margin-left: 35px;
	margin-top: 30px;
}

.hmess2 {
	font-size: 62px;
	font-family: Bringin;
	letter-spacing: 4px;
	color: white;
	margin-left: 35px;
	margin-top: -70px;
	color: rgb(54, 174, 234);
}

.hmess3 {
	font-size: 18px;
	font-family: OpenSans;
	color: white;
	margin-top: -60px;
	margin-left: 35px;
	margin-bottom: 55px;
	width: 460px;
}

.topcenter a {
	font-family: Raleway;
	font-size: 14px;
	color: white;
	text-decoration: none;
	margin-left: 38px;
	font-weight: bold;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-color: rgb(54, 174, 234);
    background: rgb(54, 174, 234);
	border-radius: 3px;
}

.topcenter a:hover {
	font-family: Raleway;
	font-size: 14px;
	color: rgb(54, 174, 234);
	text-decoration: none;
	margin-left: 38px;
	font-weight: bold;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-color: white;
    background: white;
	border-radius: 3px;
}

.blog {
	height: 667px;
    background-image: url(../images/bkblog.png);
    background-size: cover;
}

.blog1 {
	margin: auto;
	width: 1120px;
}

.bkimg1 {
	width: 806px;
	height: 570px;
	margin-right: 176px;
	margin-top:-36px;
	float: right;
    background-image: url(../images/bgimg1.png);
    background-size: cover;
}

.bkimg2 {
	width: 350px;
	height: 350px;
	float: right;
	margin-right: -261px;
	margin-top: 267px;
    background-image: url(../images/bgimg2.png);
    background-size: cover;
}

.waves {
	width: 81px;
	height: 7px;
	margin-top: 203px;
	float: left;
    background-image: url(../images/waves.png);
    background-size: cover;
}

.about {
	width: 352px;
	height: 7px;
	margin-left: -81px;
	margin-top: 204px;
	float: left;
}


.abous {
	font-size: 20px;
	margin-top: 43px;
	font-family: OpenSans;
	font-weight: bold;	
	color: rgb(44, 46, 55);
	width: 460px;
}

.wavesab {
	font-size: 14px;
	font-family: OpenSans;
	font-weight: Regular;	
	margin-bottom:45px;	
	color: rgb(168, 167, 167);
	width: 352px;
}

.readbutt {
	font-size: 12px;
	font-family: OpenSans;
	font-weight: Bold;
	text-decoration: none;
	color:white;
	width:150px;
	font-weight: bold;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-color: rgb(54, 174, 234);
    background: rgb(54, 174, 234);
	border-radius: 3px;
}

.readbutt:hover {
	font-size: 12px;
	font-family: OpenSans;
	font-weight: Bold;
	text-decoration: none;
	color:rgb(54, 174, 234);
	width:150px;
	font-weight: bold;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-color: rgb(54, 174, 234);
    background: white;
	border-radius: 3px;
}

.journal {
	height: 1065px;
}

.wavesjr {
	width: 81px;
	height: 7px;
	margin: auto;
	margin-bottom: 36px;
    background-image: url(../images/waves.png);
    background-size: cover;
}

.ourjournal {
	width: 201px;
	margin: 0 auto;
	margin-bottom: 72px;	
	font-size: 30px;
	font-family: OpenSans;
	font-weight: Bold;	
}

.bgjournal {
	width: 1140px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.love {
	width:81px;
	height:81px;
	margin: auto;
	margin-top: 149px;
	background-image: url(../images/love.png);
    background-size: cover;	
}

.bglove {
	width: 380px;
	height: 380px;
	background-image: url(../images/lovebg1.png);
    background-size: cover;
}

.tlove {
	margin-left:-11px;
	width: 391px;
	height: 380px;
	background-image: url(../images/lovebg2.png);
    background-size: cover;	
}

.tlabout {
	font-size: 11px;
	font-family: OpenSans;
	font-weight: Bold;
	color:rgb(54, 174, 234);
	margin-left: 11px;
	margin-top: 45px;
	text-align:  center;
}

.tltext {
	font-size: 16px;
	font-family: OpenSans;
	font-weight: Bold;
	letter-spacing: 4px;
	color:black;
	margin-left: 11px;
	margin-top: 45px;
	text-align:  center;
	text-transform: uppercase;	
}

.tltext2 {
	font-size: 14px;
	font-family: OpenSans;
	color:rgb(119, 119, 119);
	margin-left: 11px;
	margin-top: 30px;
	text-align:  center;	
}

.tltext3 {
	font-size: 14px;
	font-family: TimesNewRoman;
	font-style: italic;
	color:black;
	margin-left: 11px;
	margin-top: 30px;
	text-align:  center;	
}

.bgwater {
	width: 380px;
	height: 380px;
	background-image: url(../images/waterbg1.png);
    background-size: cover;
}

.water {
	width:59px;
	height:74px;
	margin: auto;
	margin-top: 149px;
	background-image: url(../images/water.png);
    background-size: cover;		
}

.twater {
	margin-top: -11px;
	width: 380px;
	height: 391px;
	background-image: url(../images/waterbg2.png);
    background-size: cover;		
}

.twabout {
	font-size: 11px;
	font-family: OpenSans;
	font-weight: Bold;
	color:rgb(54, 174, 234);
	margin-right: 11px;
	margin-top: 45px;
	text-align:  center;
}

.twtext {
	font-size: 16px;
	font-family: OpenSans;
	font-weight: Bold;
	letter-spacing: 4px;
	color:black;
	margin-right: 11px;
	margin-top: 45px;
	text-align:  center;
	text-transform: uppercase;	
}

.twtext2 {
	font-size: 14px;
	font-family: OpenSans;
	color:rgb(119, 119, 119);
	margin-right: 11px;
	margin-top: 65px;
	text-align:  center;	
}

.twtext3 {
	font-size: 14px;
	font-family: TimesNewRoman;
	font-style: italic;
	color:black;
	margin-right: 11px;
	margin-top: 30px;
	text-align:  center;	
}

.tree {
	width: 391px;
	height: 380px;
	z-index: 1;
	background-image: url(../images/bgtree2.png);
    background-size: cover;		
}

.ttabout {
	font-size: 11px;
	font-family: OpenSans;
	font-weight: Bold;
	color:rgb(54, 174, 234);
	margin-right: 11px;
	margin-top: 45px;
	text-align:  center;
}

.tttext {
	font-size: 16px;
	font-family: OpenSans;
	font-weight: Bold;
	letter-spacing: 4px;
	color:black;
	margin-right: 11px;
	margin-top: 45px;
	text-align:  center;
	text-transform: uppercase;	
}

.tttext2 {
	font-size: 14px;
	font-family: OpenSans;
	color:rgb(119, 119, 119);
	margin-right: 11px;
	margin-top: 30px;
	text-align:  center;	
}

.tttext3 {
	font-size: 14px;
	font-family: TimesNewRoman;
	font-style: italic;
	color:black;
	margin-right: 11px;
	margin-top: 30px;
	text-align:  center;	
}

.ttletter {
	text-decoration: line-through;
}

.bgtree {
	width: 380px;
	height: 380px;
	margin-left: -11px;
	background-image: url(../images/bgtree1.png);
    background-size: cover;
}

.imtree {
	width:65px;
	height:65px;
	margin: auto;
	margin-top: 149px;
	background-image: url(../images/tree.png);
    background-size: cover;		
}

@font-face {
font-family: "Bringin"; 
src: url("../fonts/Bringin.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face {
font-family: "OpenSans"; 
src: url("../fonts/OpenSans.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Raleway"; 
src: url("../fonts/Raleway.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "CoreSans"; 
src: url("../fonts/CoreSans.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face {
font-family: "TimesNewRoman"; 
src: url("../fonts/timesnewroman.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}  